/* Font declarations & class */

@font-face{
    font-family: "partybusiness";
    src: url("./fonts/nancy-lorenz_party-business/partybusiness.ttf") format("truetype");
}

@font-face{
    font-family: "aniron-regular";
    src: url("./fonts/pete-klassen_aniron/anicm__.ttf") format("truetype");
}

@font-face{
    font-family: "aniron-bold";
    src: url("./fonts/pete-klassen_aniron/anirm___.ttf") format("truetype");
}

@font-face{
    font-family: "annatar";
    src: url("./fonts/tengwar_annatar/tngan.ttf") format("truetype");
}

.party-business-font{
    font-family: "partybusiness", 'Times New Roman', Times, serif;  
}

.aniron-regular-font{
    font-family: "aniron-regular",'Times New Roman', Times, serif
}

.aniron-bold-font{
    font-family: "aniron-bold", 'Times New Roman', Times, serif
}

.annatar-font{
    font-family: "annatar", 'Times New Roman', Times, serif;
    color: #FE661D;
}

body{
    background-color: #F4F1EA;
    font-family: "partybusiness", 'Times New Roman', Times, serif
}

/* CSS RINGS Compiled */


.container-rings{
    margin-top:50px;
}
.row-ring{
    margin-bottom: 25px;
}

.black-rings-container{
    position:relative;
    margin-top: 150px;
}
.orangeRing {
    width: 50px;
    height: 50px;
    border: 5px solid #ff6100;
    border-radius: 100%;
    display: inline-block;
    background-color: transparent;
  }
  
  .yellowRing {
    width: 100px;
    height: 100px;
    border: 10px solid #efdc0e;
    border-radius: 100%;
    display: inline-block;
    background-color: transparent;
    box-shadow: 5px 5px 2px #f6eb6d inset;
    box-shadow: 5px 5px 2px #f6eb6d;
  }
  
  .blackRings span:nth-child(1) {
    width: 35px;
    height: 35px;
    border: 3px solid #000000;
    border-radius: 100%;
    display: inline-block;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 42%;
    box-shadow: 2px 2px 2px #0d0d0d inset;
  }
  .blackRings span:nth-child(2) {
    width: 70px;
    height: 70px;
    border: 6px solid #000000;
    border-radius: 100%;
    display: inline-block;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 44%;
    box-shadow: 2px 2px 2px #0d0d0d inset;
  }
  .blackRings span:nth-child(3) {
    width: 105px;
    height: 105px;
    border: 9px solid #000000;
    border-radius: 100%;
    display: inline-block;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 46%;
    box-shadow: 2px 2px 2px #0d0d0d inset;
  }
  .blackRings span:nth-child(4) {
    width: 140px;
    height: 140px;
    border: 12px solid #000000;
    border-radius: 100%;
    display: inline-block;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 48%;
    box-shadow: 2px 2px 2px #0d0d0d inset;
  }
  .blackRings span:nth-child(5) {
    width: 175px;
    height: 175px;
    border: 15px solid #000000;
    border-radius: 100%;
    display: inline-block;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    box-shadow: 2px 2px 2px #0d0d0d inset;
  }

/* ------------------------- Navbar ------------------------- */

li{
    display:inline-block
}

.float{
    position: absolute;
}
.navbar-brand{
    font-size:2em;
}
.navbar{
    font-size:1.8em;
    background-color: #FE661D;
    margin: 0 auto;
    padding: 0 auto;
}

.nav-item .nav-link:hover{
    text-decoration: underline #FE661D;
    color:#FE661D;
    opacity: 1;
}

.navbar .collapse{
    color:#FFF;
}

.nav-item .nav-link{
    color: #000000;
    opacity: 0.5;
    font-family: "aniron-bold", 'Times New Roman', Times, serif;
    text-decoration-color: #FFF;
    text-align: center;
}
/* --------------------- Carousel -------------------- */

.carousel-item {
    max-height: 750px;
}

.w-100{
    position: relative;
    text-align: center;
    height:500px;
}
.carousel-text h3{
    font-size:2.5em;
}

.carousel-text{

    font-size:2em;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -----------------Fellows ----------------- */

.fellows{
    font-size : 2.5em;
    margin-top:25px;
}

/*  ----------------- Nav pills  ----------------- */

.nav-pills .nav-item{
  font-size:2.4em;
  text-decoration: underline #FE661D;
}

/* ---------------------  Cards ------------------- */

.all-cards{
    margin: auto;
}

.heroes{
    display:inline-block;
    margin-top:25px;
    background-color: black;
    border: 10px solid #F4F1EA;
    min-width: 350px;
}

.card-img-top{
    padding-top: 50px;
    height: 300px;
    width: 100%;
    margin: 0 auto;
}

.box_portrait_gandalf { 
    margin-top: 20px; 
    height: 450px;
    width:100%;  
    background-image: url("img/gandalf.png");
    background-size: 100% 100%;
    opacity: 0.60;
    transition-property: opacity;    
    transition-duration: 1s;
    text-align: center
}

.box_portrait_aragorn {  
    margin-top: 20px; 
    height: 450px;
    background-image: url("img/aragorn.png");
    background-size: 100% 100%;
    opacity: 0.60;
    transition-property: opacity;    
    transition-duration: 1s;
    text-align: center
}

.box_portrait_dwarf {  
    margin-top: 20px; 
    height: 450px;
    background-image: url("img/gimli.png");
    background-size: 100% 100%;
    opacity: 0.60;
    transition-property: opacity;    
    transition-duration: 1s;
    text-align: center
}

.box_portrait:hover {
    opacity: 1;
}

.reward {
    margin : 0px 10px 0 10px;
    padding: 15px 15px 15px 15px;
    border: 2px solid white;
    border-radius: 25px;
    background-color: white;
    opacity: 0.90;
    transition-property: opacity;    
    transition-duration: 1s;
}

.reward-dead {

    color : #FE661D;
    font-size:2em;
    margin : 0px 10px 0 10px;
    padding: 15px 15px 15px 15px;
    border-radius: 25px;
    background-color:transparent;
    border:none;
    opacity: 0.90;
    transition-property: opacity;    
    transition-duration: 1s;
}

.dead{
    text-decoration-line: line-through;
    text-decoration-color: #FE661D;
}

.box_portrait:hover .reward {
    opacity: 0.00;
}

.amount_reward {
    color:orange;
}

.name {
    font-size: 4em;
    color: white;
    padding-top: 50%;
    transition-property: padding-top, font-size;    
    transition-duration: 1s;
}

.box_portrait:hover .name {
    padding-top: 25%;
    font-size : 2em;
}

.box_portrait_hobbit:hover .name {
    padding-top: 40%;
    font-size : 2em;
}

.card-text{
    color:white;
    font-size: 2.5em;
}

/* --------------- Reward  -------------------*/

#reward-reclaim{
    background-color:black;
    color:white;
    height:300px;
}

.reward.reclaim{
    font-size: 2.5em
}

.reward.reclaim-2 {
    margin-top: 100px
}


#reward-reclaim h2{
    font-size : 3em
}

#coin-reward{
    width: 15%
}

/* ------------------ Hunters------------------ */


/* -----------------------The ring----------------- */

.about-ring .card {
    margin-top:25px;
    margin-bottom: 25px
}

.card-header{
    background-color: #FE661D;
}

.about-ring{
    background-color:black;
}

.white-title{
    color:#FFF;
}

table{
    margin: 0 auto;
}
td, th{
    text-align:center; 
    padding-left: 50%;
    width:50%
}

.gollum-talk {
    font-size:2em;
}
#gollum-pix{
    border-radius: 50% ;
}

/* Contact us */
input, select{
    margin-top:2%;
}